#patients_container
    display: grid
    grid-auto-flow: row
    grid-template-rows: 10% 10% 1fr
    grid-template-areas: "title" "search" "patients"
    height: 100%
    width: 100%
    overflow-x: hidden
    .title
        grid-area: title
        display: flex
        justify-content: center
        align-items: center
        h2
            margin: 0
            font-size: 22px
            font-weight: 700
    .search
        grid-area: search
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        place-self: center
        width: 80vw
        height: 7vh
        padding: 0.5vh 5vw
        border: 1px solid #D8D8D8
        background-color: white
        border-radius: 10px
        form
            width: fit-content
            height: 5vh
            align-items: center
        mat-label
            color: #9D9D9D
    .searchFormField
        width: 66vw
    #patients_list
        grid-area: patients
        display: flex
        flex-direction: column
        overflow-y: auto
        align-items: center
        margin-bottom: 12vh
        .patient
            display: flex
            flex-direction: row
            height: 6vh
            width: 80vw
            padding: 1vh 5vw
            margin-top: 2vh
            align-items: center
            justify-content: space-between
            border-radius: 10px
            border: 1px solid #D8D8D8
            background-color: #FFFFFF
            .patient_name
                font-size: 18px
                font-weight: 600
                margin-bottom: 0
            .condition
                height: 2vh
                width: 2vh
                border-radius: 50%
                background-color: #A9FF9B
        .patient:hover
            background-color: #f8f8f8
            cursor: pointer
@media only screen and (min-width: 768px)
    #patients_container
        height: 95%
        .search
            width: fit-content
        .searchFormField
            width: 30vw
        #patients_list
            width: 100%
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            justify-items: center
            align-self: start
            .patient
                width: 16vw
                height: 5vw
                margin: 4vh
                padding: 1vh 5vw
                .patient_name
                    font-weight: 700
