#patients_container
    display: grid
    grid-auto-flow: row
    grid-template-rows: 14% 1fr
    grid-template-areas: "search" "patients"
    height: 100%
    width: 100%
    .search
        grid-area: search
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        place-self: center
        width: fit-content
        height: fit-content
        padding: 0.5vh 4vh
        background-color: white
        border-radius: 22px
        box-shadow: 0 10px 15px 0 rgba(0,0,0,3%)
        form
            width: fit-content
            height: 5vh
            align-items: center
            ::ng-deep .mat-form-field-underline
                display: none
        mat-label
            color: #9D9D9D
    .searchFormField
        width: 66vw
    #patients_list
        grid-area: patients
        display: flex
        flex-direction: column
        overflow-y: auto
        align-items: center
        margin-bottom: 12vh
        .patient
            height: 8vh
            width: 90vw
            background-color: red
            margin-bottom: 2vh
            border-radius: 15px
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-between
            background-color: #FFFFFF
            box-shadow: 0 10px 15px 8px rgb(0 0 0 / 3%)
            .patient_name
                margin-left: 6vw
                font-weight: 600
                margin-bottom: 0
            .condition
                height: 2vh
                width: 2vh
                border-radius: 50%
                background-color: #A9FF9B
                margin-right: 6vw
        .patient:hover
            background-color: rgba(0,0,0,1%)
            cursor: pointer
@media only screen and (min-width: 768px)
    #patients_container
        height: 95%
        .searchFormField
            width: 30vw
        #patients_list 
            width: 100%
            display: grid 
            grid-template-columns: 1fr 1fr 1fr
            justify-items: center
            align-self: start
            .patient
                width: 26vw
                height: 7vw
                margin: 4vh
                .patient_name
                    margin-left: 2vw
                    font-size: 1.1em
                .condition
                    margin-right: 2vw