<div id="patients_container">
    <div class="title">
        <h2>Pacienti</h2>
    </div>
    <div class="search">
        <form>
            <mat-form-field class="searchFormField">
                <mat-label>
                    Hľadať pacienta
                </mat-label>
                <input matInput>
            </mat-form-field>
        </form>
    <mat-icon>search</mat-icon>
    </div>
    <div id="patients_list">
        <ng-container *ngFor="let patientAvailable of patients">    
            <div class="patient" *ngIf="departmentToDisplay.includes(patientAvailable.departmentID)" (click)="choosePatient(patientAvailable)">
                <p class="patient_name">{{patientAvailable.name}}</p>
                <div class="condition"></div>
            </div>
        </ng-container>
    </div>  
</div>