
<div id="bottom_navigation_container">
    <button mat-flat-button routerLink="" [ngClass]="{'selected' : currentPage === '/'}">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-flat-button routerLink="patients" [ngClass]="{'selected' : currentPage === '/patients'}">
        <mat-icon>person_search</mat-icon>
    </button>
    <button mat-flat-button routerLink="history" [ngClass]="{'selected' : (currentPage === '/history')}">
        <mat-icon>history</mat-icon>
    </button>
</div>
