$accent_color: #CBF7EB

#bottom_navigation_container
    display: grid
    grid-auto-flow: column
    grid-template-columns: 1fr 1fr 1fr
    align-items: center
    justify-items: center
    position: fixed
    bottom: 0
    height: 10vh
    width: 100vw
    border-radius: 20px 20px 0 0
    box-shadow: 15px 0 15px 8px rgb(0 0 0 / 3%)
    background-color: #FFFFFF
    z-index: 3
    button
        border-radius: 30px
        height: 90%
        width: 85%
        background-color: rgba(0,0,0,0)
    .selected
        background-color: $accent_color
