*
    font-family: 'Sora', sans-serif
    margin: 0
    color: #333333
body
    background-color: #F9F9F9
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
    width: 100vw
.page_title
        text-align: center
        align-self: center
        font-weight: 700
        h2
            font-weight: 700