<div id="container">    
    <div class="title">
        <h2>Oddelenia</h2>
    </div>
    <div class="search">
        <form>
            <mat-form-field class="searchFormField">
                <mat-label>
                    Hľadať oddelenie
                </mat-label>
                <input matInput>
            </mat-form-field>
        </form>
    <mat-icon>search</mat-icon>
    </div>
    <div id="departments">
        <div class="department" *ngFor="let departmentAvailable of departments" (click)="chooseDepartment(departmentAvailable)">
            <p>{{departmentAvailable.name}}</p>
            <p class="numberOfPatients"> x pacientov</p>
        </div>   
    </div>  
</div>
